                <!-- Este bloco é o resumo do post na lista principal -->
                <article class="post-summary">
                    <!-- URL do Post: O ficheiro .html que foi criado -->
                    <h3><a href="posts/{{FILENAME}}.html">&gt;&gt; {{TITLE}}</a></h3>
                    <!-- Pequeno resumo para convencer o utilizador a ler -->
                    <p>{{SUMMARY}}</p>
                    <p class="post-meta">DATE: {{DATE}} // Operator // LOCATION: Setúbal Terminal //</p>
                </article>
